.Button {
    width: 80px;
    height: 30px;
    background: #57EFDD;
    border-radius: 8px;
    font-family: IRSansBold;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.warrning {
    background: #e74040;
    color: #ffffff;
}

.info {
    background: #f8ff2d;
}