.Wrapper {
    position: relative;
    width: calc( 100%);
    height: auto;
    background-color: rgb(215, 225, 255);
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 10px;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
    h1 {
        color: rgb(0, 57, 107);
        line-height: 30px;
        width: 140px;
        font-size: 28px;
        margin-right: 10px;
    }
    ul {
        //   width: calc(100% - 600px);
        width: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        a {
            width: auto;
            margin-left: 20px;
            display: block;
            line-height: 30px;
            color: gray;
            text-decoration: none;
        }
        .active {
            color: #000681;
            font-weight: 600;
        }
    }
    .searchWrapper {
        width: 350px;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    @media screen and(max-width:750px) {
        justify-content: space-evenly;
        flex-direction: column;
        ul {
            width: 100%;
            li:first-child {
                width: 40%;
            }
        }
        .searchWrapper {
            width: 100%;
        }
    }
}